body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color: /*#eccd71;*/#6610f2;
}

.navbar-brand{
    padding-right: 1.5rem;
}

#Navbar ul li span{
    padding-right: 0.5rem;
}

.jumbotron{
    padding: 70px 30px;    
    margin: 0 auto;
    background-color: /*#17a2b8;*/#906ad6;
    color: floralwhite;
}

.row-content{
    margin: 0 auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.address{
    font-size: 80%;
    margin: 0;
    color: #585757;
}

.footer{
    background-color: /*#8cd5e0*/#c4abf1;
    margin: 0 auto;
    padding: 20px 0px;
}